@import "tailwindcss";

:root {
  font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
}

body {
  margin: 0;
  background: #fafafa;
  color: #18181b;
}
